{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}
    
{% block content %}
<h1>{{ post.title }}</h1>
{% if perms.simpleapp.change_product %}
<a href="/news/news/{{ post.pk }}/edit">Редактировать</a>
{% endif %}
{% if perms.simpleapp.delete_product %}
<a href="/news/news/{{ post.pk }}/delete">Удалить</a>
{% endif %}
<p>Дата публикации: {{post.date_time}}</p>
<p>{{post.text|censor}}</p>
<a href="/news/">К списку статей...</a>
{% endblock content %}