{% extends 'flatpages/default.html' %}
 
{% block title %}
{{ flatpage.title }}
{% endblock title %}
 
{% block content %}
    <style>
        h2{
            font-size: 48px; 
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
    <h2>Hello motherfuckers</h2>
    <br/>
    {{ flatpage.content }}
    {{ flatpage.content }}
    <br/>
<img scr="https://i.ytimg.com/vi/S7sRRDl23RI/maxresdefault.jpg"/>
 
{% endblock content %}